<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Biography - Daniel Iván</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
        <img src="/img/bio.webp" height="50" alt="logo" title="Biography's logo" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link active" href="/biography">Bio<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/funfacts">Fun facts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
          </ul>
      </div>
    </nav>
    <div class="card text-center">
      <div class="card-header">
          <a class="text-decoration-none text-secondary" href="/">
              <div class="profile-picture">
                <img src="/img/profile.jpeg" height="250" alt="Goofy Goober Rock" title="Goofy Goober Rock" />
              </div>
              <h1>Daniel Ivan</h1>
          </a>
      </div>
      <div class="card-body">
          <p class="card-text">My name is Daniel Iván Salado Torres and I am son of Jacinto Salado Balderrama
            and Laurelena Torres Muñoz. I was born on September 16, 1997 in Acapulco, Guerrero.</p>
          <p class="card-text">The first time I go to school I was in 2nd grade of Kindergarden in Colegio Latinoamericano.
            But I stayed just one year, and that's because some stupid people bought the ground and turned it
            into a parking lot. Then I went to Colegio Zumárraga until I finished the Secondary School.
            And finally, I studied the high school at the Simón Bolívar.</p>
          <p class="card-text">At this time, I'm 22, and like my summary says, I'm an university student th the Faculty of Mathematics.</p>
          <p class="card-text">That's it, I'm just a regular and handsome young man. :D</p>
      </div>
    </div>
  </body>
</html>
