<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Contact - Daniel Iván</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/f65f0aa3f6.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
        <img src="/img/bio.webp" height="50" alt="logo" title="Biography's logo" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/biography">Bio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/funfacts">Fun facts</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/contact">Contact<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="card text-center">
      <div class="card-header">
        <a class="text-decoration-none text-secondary" href="/">
          <div class="profile-picture">
            <img src="/img/profile.jpeg" height="250" alt="Goofy Goober Rock" title="Goofy Goober Rock" />
          </div>
          <h1>Daniel Ivan</h1>
        </a>
      </div>
      <div class="card-body">
        <p class="card-text">
          <a href="https://twitter.com/DanielIvanST">
            <i class="fab fa-twitter fa-xs">
              <span> @DanielIvanST</span>
            </i>
          </a>
        </p>
        <p class="card-text">
          <a href="https://www.linkedin.com/in/daniel-iv%C3%A1n-salado-torres-2b2a4b195/">
            <i class="fab fa-linkedin-in fa-xs">
              <span> Daniel Iván Salado Torres</span>
            </i>
          </a>
        </p>
        <p class="card-text">
          <a href="mailto:danielivansaladotorres@gmail.com?Subject=Business">
            <i class="far fa-envelope fa-xs">
              <span> danielivansaladotorres@gmial.com</span>
            </i>
          </a>
        </p>
      </div>
    </div>
  </body>
</html>
